.modalContainer {
  position: fixed;
  top: 5rem;
  width: 100%;
  height: 100%;
  background: rgba(7, 1, 1, 0.6); /* fonni xiralashtirish */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 15rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.8rem;
  max-width: 90%;
}

.modalForm {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  width: 100%;
  margin-top: 1rem;
}

.modalText {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.modalInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  font-size: 1rem;
  width: 100%;
}

.gender {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.modal-btn {
  padding: 0.7rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
