.Navbar-container {
  color: blue;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-title {
  font-size: 2rem;
  width: 50%;
  text-align: center;
  align-items: center;
}
