.Navbar-container {
  color: blue;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
