.userList {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Kartalar orasidagi masofa */
  width: 100%;
  max-width: 600px; /* Maksimal kenglik, markazlash uchun */
  padding: 20px; /* Ichki padding */
}

.user-card {
  display: flex;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.user-card h2 {
  margin: 0;
  font-size: 1.2rem;
}
