.userList {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  scrollbar-width: none;
  gap: 1.3rem;
  padding: 1.3rem;
  width: 100%;
}

.userCard {
  width: 12.5rem;
  height: 19rem;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(91, 22, 22, 0.08);
  text-align: center;
}

.userCard img {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.userCardDelete {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: rgb(128, 45, 44);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
