* {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.09;
}
