* {
  box-sizing: border-box;
  margin: 0;
}

.Container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.09;
}

.creat-user {
  writing-mode: vertical-rl;
  background-color: red;
  color: white;
  position: fixed;
  top: 0;
  top: 30%;
  transform: rotate(180deg);
  padding: 12px 8px;
  border: none;
  border-radius: 8px 0 0 8px;
}
