* {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.09;
}
