* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.mainContainer {
  flex: 1;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.09;
}

.usersList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
}

.creat-user {
  writing-mode: vertical-rl;
  background-color: red;
  color: white;
  position: fixed;
  top: 30%;
  transform: rotate(180deg);
  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}
